<span class="feedback">
    {{#if correct}}<span class="correct">Correct!</span>{{else}}<span class="incorrect">Correct answer: {{ answer }}</span>{{/correct}}
    <br/><small style="font-weight:normal;">Press any key to continue.</small>
</span>