<span class="startScreen">
    <h1>Which Italian verbs would you like to practice conjugating?</h1>
    <button class="start all">All Verbs</button>
    <button class="start">Irregulars</button>
    <small style="display:block; text-align:right; margin-top:.5em;">Powered by <abbr title="Conjugator of Italian Verbs by Ethan and Margaret">CIVEM</abbr></small>
</span>